@media (max-width: 400px) {
  body {
    border: 0px;
    margin: 0px;
    background-color: #0e0e0e;
  }
  header {
    overflow: hidden;
  }
  #shiny {
    z-index: 1;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #simbol {
    max-width: 48px;
    margin-left: 10px;
  }
  .bar {
    padding: 0px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #131313;
  }
}
